.footer {
  background: $black;
  color: $white;

  &__container {
    display: flex;
    justify-content: space-between;
    padding: 4rem 2rem 2rem;
    @media (max-width: $mobile) {
      display: block;
      text-align: center;
      padding-top: 4.5rem;
    }
  }

  &__photoWrapper {
    text-align: center;
    padding-bottom: 1.5rem;

    &--line {
      border-top: solid $white 2px;
      padding-top: 0.5rem;
    }
  }
}

.information {
  &__noStyle {
    text-decoration: none;
    color: inherit;
  }

  &__title {
    font-weight: 400;
    font-size: 1.25rem;
    letter-spacing: 1.5px;
    margin-top: 0;
    @media (max-width: $mobile) {
      width: 150px;
      margin: auto;
      padding-top: 0.5rem;
    }
  }

  &__list {
    list-style-type: none;
    padding: 0;
  }

  &__element {
    line-height: 2.5rem;
    padding-left: 2.5rem;
    position: relative;
     @media (max-width: $mobile) {
      width: 150px;
      margin: auto;
    }
  }

  &__hover {
    &:hover {
      color: $twine;
    }
  }

  &__call {
    &::before {
      background-image: url("../assets/icons/call.svg");
    }
  }

  &__email {
    &::before {
      background-image: url("../assets/icons/email.svg");
    }
  }

  &__facebook {
    &::before {
      background-image: url("../assets/icons/facebook.svg");
    }
  }

  &__opening {
    &::before {
      background-image: url("../assets/icons/opening.svg");
    }
  }

  &__location {
    &::before {
      background-image: url("../assets/icons/location.svg");
    }
  }

  &__email,
  &__call,
  &__facebook,
  &__opening,
  &__location {
    &::before {
      content: "";
      display: block;
      height: 1.5rem;
      width: 1.5rem;
      left: 0;
      top: 0.6rem;
      position: absolute;
      background-size: contain;
    }
  }

  &__email,
  &__call,
  &__facebook {
    &:hover {
      color: $twine;
    }
  }
}
