.formSection {
  padding: 4.5rem 2rem;
  background: $whisper;
  color: $mineShaft;
}

.formWrapper {
  flex-direction: column;
  align-items: center;
  display: flex;
}

.form {
  position: relative;
  width: 50%;
  height: 50px;
  overflow: hidden;
}

.form input {
  width: 100%;
  height: 100%;
  padding-top: 20px;
  color: black;
  border: none;
  outline: none;
}

.form label {
  position: absolute;
  bottom: 0px;
  left: 0%;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid black;
}

.form label::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  border-bottom: 3px solid #c39f76;
  left: 0px;
  bottom: -1px;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

.contentName {
  position: absolute;
  bottom: 5px;
  left: 0px;
  transition: all 0.3s ease;
}

.form input:focus + .labelName .contentName,
.form input:valid + .labelName .contentName {
  transform: translateY(-150%);
  color: #c39f76;
  font-size: 14px;
}

.form input:focus + .labelName::after,
.form input:valid + .labelName::after {
  transform: translateX(0%);
}
