.gallery {
  margin: 0 auto;
  padding: 5.5rem 0 2rem;
  text-align: center;
  background: $gallery;
}

.gallery img {
  padding: 1rem;
  @media (max-width: $mobile) {
      padding: 0 0.5rem;
    }
}

.gallery img:hover {
  filter: grayscale(100%);
  transform: scale(1.05);
}

.emptyForImages {
  background-image: url(../assets/img/1.png);
  background-image: url(../assets/img/2.png);
  background-image: url(../assets/img/3.png);
  background-image: url(../assets/img/4.png);
  background-image: url(../assets/img/5.png);
  background-image: url(../assets/img/6.png);
  background-image: url(../assets/img/7.png);
  background-image: url(../assets/img/8.png);
  background-image: url(../assets/img/9.png);
  background-image: url(../assets/img/10.png);
  background-image: url(../assets/icons/favicon-16x16.png);
}
