.gallery {
  margin: 0 auto;
  padding: 5.5rem 0 2rem;
  text-align: center;
  background: $gallery;
}

.gallery img {
  padding: 1rem;
  @media (max-width: $mobile) {
      padding: 0 0.5rem;
    }
}

.gallery img:hover {
  filter: grayscale(100%);
  transform: scale(1.05);
}

.emptyForImages {
  background-image: url(../assets/img/1.png);
  background-image: url(../assets/img/2.png);
  background-image: url(../assets/img/3.png);
  background-image: url(../assets/img/4.png);
  background-image: url(../assets/img/5.png);
  background-image: url(../assets/img/6.png);
  background-image: url(../assets/img/7.png);
  background-image: url(../assets/img/8.png);
  background-image: url(../assets/img/9.png);
  background-image: url(../assets/img/10.png);
  background-image: url(../assets/img/11.png);
  background-image: url(../assets/img/12.png);
  background-image: url(../assets/img/13.png);
  background-image: url(../assets/img/14.png);
  background-image: url(../assets/img/15.png);
  background-image: url(../assets/img/16.png);
  background-image: url(../assets/img/17.png);
  background-image: url(../assets/img/18.png);
  background-image: url(../assets/img/19.png);
  background-image: url(../assets/img/20.png);
  background-image: url(../assets/img/21.png);
  background-image: url(../assets/img/22.png);
  background-image: url(../assets/img/23.png);
  background-image: url(../assets/img/24.png);
  background-image: url(../assets/img/25.png);
  background-image: url(../assets/img/26.png);
  background-image: url(../assets/img/27.png);
  background-image: url(../assets/img/28.png);
  background-image: url(../assets/img/29.png);
  background-image: url(../assets/img/30.png);
  background-image: url(../assets/img/31.png);
  background-image: url(../assets/img/32.png);
  background-image: url(../assets/img/33.png);
  background-image: url(../assets/img/34.png);
  
}
