@import "~normalize.css";

@import "_variables";
@import "modules/hello.scss";

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: $white;
  color: black;
  display: block;
  min-height: 100vh;
}

.header {
  
  &__wrapper {
}
}

.navigation {
 
  &__list {
    list-style-type: none;
    display: inline-flex;
  }
}
