// .header {
//   position: fixed;
//   background: $white;
//   width: 100%;
//   z-index: 100;

//   &__wrapper {
//     display: flex;
//     justify-content: space-between;
//     @media (max-width: $mobile) {
//       display: block;
//       text-align: center;
//       padding-top: 0.5rem;
//     }
//   }

//   &__logo {
//     align-self: center;
//     padding-left: 1.25rem;
//     @media (max-width: $mobile) {
//       padding: 0;
//     }
   
//   }
// }

// .navigation {
//   &__list {
//     list-style-type: none;
//     display: inline-flex;
    
//     @media (max-width: $mobile) {
//       display: flex;
//       justify-content: space-between;
//       padding: 0 0.5rem;
//       margin: 0.25rem;
//     }
//   }

//   &__link {
//     padding-right: 2rem;
//     font-weight: 700;
//     letter-spacing: 2px;
//     font-size: 1.25rem;
//     text-decoration: none;
//     color: inherit;
//     @media (max-width: $mobile) {
//       padding: 0;
  
//     }

//     &:hover {
//       color: $twine;
//     }
//   }
// }
.navWrapper {
  position: fixed;
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 4rem;
  background-color: #ffffff;
}

.navigationList {
  display: flex;
  width: 50%;

  justify-content: space-around;
  &__list {
    position: relative;
    // list-style: none;
    list-style-type: none;

    &--element {
      display: block;
      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-weight: 700;
      font-size: 1.25rem;
      color: black;
      padding: 1.25rem 0.5rem;
    }

    &--dropdown {
      display: none;
      position: absolute;
      background-color: #ffffff;
      list-style-type: none;
      border-radius: 0rem 0rem 0.25rem 0.25rem;

      & li {
        border-radius: 0.25rem;
      }

      & li a {
        display: block;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 700;
        font-size: 1.25rem;
        color: black;
        padding: 1rem 0.5rem;
        // margin: 0 0.5rem;
      }

      & li a:hover {
        background-color: #f3f3f3;
      }
    }

    &:hover ul  {
      display: block;
    }
  }
}