.header {
  position: fixed;
  background: $white;
  width: 100%;
  z-index: 100;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    @media (max-width: $mobile) {
      display: block;
      text-align: center;
      padding-top: 1rem;
    }
  }

  &__logo {
    align-self: center;
    padding-left: 1.25rem;
  }
}

.navigation {
  &__list {
    list-style-type: none;
    display: inline-flex;
    @media (max-width: $mobile) {
      display: inline-block;
    }
  }

  &__link {
    padding-right: 2rem;
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 1.25rem;
    text-decoration: none;
    color: inherit;

    &:hover {
      color: $twine;
    }
  }
}
